<html>

<head>
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
  <link href="../assets/css/ecg-style.css" rel="stylesheet" />
</head>

<body class="landing-page">
  <!-- Navbar -->
  <landing-navbar></landing-navbar>

  <div align="center">
    <mat-card class="signin-card">
      <div align="center">
        <mat-card-title>Sign In</mat-card-title>
      </div>

      <mat-card-content>
        <form id="loginForm">

          <mat-form-field class="contact-full-width formGroup">
            <input type="email" class="formControl" matInput placeholder="Email" name="userName" #userName required>
            <mat-error>
              Please enter a valid email address
            </mat-error>
          </mat-form-field>

          <mat-form-field class="contact-full-width formGroup">
            <input type="password" class="formControl" matInput placeholder="Password" name="userPassword" #userPassword
              required>
          </mat-form-field>

          <div class="forgotPassword" align="start">
            <span routerLink="/forgot-password">Forgot Password?</span>
          </div>

          <!-- Calling SignIn Api from AuthService -->
          <button mat-raised-button class="btn btn-success formGroup" id="btnSubmit"
            (click)="authService.SignIn(userName.value, userPassword.value)">Sign In</button>

          <div class="formGroup">
            <div class="or"><span class="orInner">Or</span></div>
          </div>

          <!-- Calling GoogleAuth Api from AuthService -->
          <button mat-raised-button class="btn googleBtn formGroup" (click)="authService.GoogleAuth()">
            <span class="fa fa-google"></span>
            Log in with Google
          </button>
        </form>

        <mat-divider></mat-divider>

        <div class="redirectToLogin">
          <span>Don't have an account? <span class="redirect" routerLink="/sign-up">Sign Up</span></span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</body>

</html>