<html>

<head>
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
  <link href="../assets/css/ecg-style.css" rel="stylesheet" />
</head>

<body class="landing-page">
  <!-- Navbar -->
  <landing-navbar></landing-navbar>

  <div align="center">
    <mat-card class="verify-email-card">
      <div align="center">
        <mat-card-title>Thank You for Registering!</mat-card-title>
      </div>

      <mat-card-content class="formGroup" *ngIf="authService.userData as user">
        <p class="text-justify card-desc">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
        <p class="text-justify card-desc">Please check your email and click on the link to verfiy your email address.</p>

        <!-- Calling SendVerificationMail() method using authService Api -->
        <button mat-raised-button class="btn btn-success formGroup" id="btnSubmit"
          (click)="authService.SendVerificationMail()">Resend Verification Email</button>

        <mat-divider></mat-divider>

        <div class="redirectToLogin">
          <span>Go back to <span class="redirect" routerLink="/sign-in">Log In</span></span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</body>

</html>

<!-- <div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Thank You for Registering</h3>
      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
      </div> -->
      <!-- Calling SendVerificationMail() method using authService Api -->
      <!-- <div class="formGroup">
        <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
      </div>
    </div>
    <div class="redirectToLogin">
      <span>Go back to?<span class="redirect" routerLink="/sign-in"> Sign in</span></span>
    </div>
  </div>
</div> -->