<head>
    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
    <link href="../assets/css/ecg-style.css" rel="stylesheet" />
  </head>

<footer class="footer footer-default">
    <div class="container">
      <nav>
        <ul>
          <li>
            <i class="fa fa-envelope"></i>
            &nbsp; 57, Vijaya Road, Gampaha
          </li><br>
          <li>
            <i class="fa fa-phone"></i>
            &nbsp; 033 222 6322
          </li><br>
          <li>
            <i class="fa fa-at"></i>
            &nbsp; info@engineerscirclegampaha.org
          </li>
        </ul>
      </nav>
      <div class="copyright" id="copyright">
        Copyright &copy; 2019 Engineers' Circle Gampaha
      </div>
    </div>
  </footer>
