th {
  color: black;
}

.card-title {
  color: white;
  margin-bottom: 0;
}

.card-header {
  background-color: #50AA54;
}

.project-container{
  padding: 20px;
}

.project-action {
  cursor: pointer;
}
