<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">

          <div class="card-header card-header-success">
            <h4 class="card-title ">Project Requests</h4>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table">

                <thead class="text-primary">
                  <th>Requester's Name</th>
                  <th>Email</th>
                  <th>Project Title</th>
                  <th></th>
                  <th></th>
                </thead>

                <tbody>
                  <tr *ngFor="let p of Projects" (click)="expandRow()">
                    <td> {{ p.fullName }} </td>
                    <td> {{ p.email }} </td>
                    <td> {{ p.projectTitle }} </td>
                    <td> <i class="material-icons" (click)="onDelete(p.externalProjectId)">delete</i> </td>
                    <td> <i class="material-icons" (click)="open(content, p)">reply</i> </td>
                  </tr>
                </tbody>
              </table>

              <ng-template #content let-modal>
                <div class="card-header card-header-danger">
                  <h4 class="card-title ">Email Requesterr</h4>
                </div>

                <div class="example-container">
                  <form #updateprojectForm="ngForm" (ngSubmit)="updateprojectForm.valid && sendMail()">

                    

                    <mat-form-field>
                      <input name="ProjectName" #ProjectName="ngModel" [(ngModel)]="User.ProjectName" matInput
                        placeholder="Project Name" value="njnjn" required>
                    </mat-form-field>

                    <mat-form-field>
                      <input name="Email" #Email="ngModel" [(ngModel)]="User.Email" matInput placeholder="Email"
                        required>
                    </mat-form-field>
                    <mat-form-field>
                      <input name="text" #text="ngModel" [(ngModel)]="User.text" matInput placeholder="Text"
                        required>
                    </mat-form-field>

                    <div>
                      <button type="submit" mat-raised-button color="primary">Send Mail</button>
                    </div>
                  </form>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>