<html>

<head>
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
  <link href="../assets/css/ecg-style.css" rel="stylesheet" />
</head>

<body class="landing-page">
  <!-- Navbar -->
  <landing-navbar></landing-navbar>

  <div align="center">
    <mat-card class="signup-card">
      <div align="center">
        <mat-card-title>Sign Up</mat-card-title>
      </div>

      <mat-card-content>
        <form>
          <mat-form-field class="contact-full-width form-group">
            <input type="email" class="formControl" matInput placeholder="Email" name="userEmail" #userEmail required>
            <mat-error>
              Please enter a valid email address
            </mat-error>
          </mat-form-field>

          <mat-form-field class="contact-full-width form-group">
            <input type="password" class="formControl" matInput placeholder="Password" name="userPwd" #userPwd required>
          </mat-form-field>

          <button mat-raised-button class="btn btn-success form-group" id="btnSubmit"
            (click)="authService.SignUp(userEmail.value, userPwd.value)">Sign Up</button>

          <div class="formGroup">
            <div class="or"><span class="orInner">Or</span></div>
          </div>

          <!-- Continue with Google -->
          <button mat-raised-button class="btn googleBtn form-group" (click)="authService.GoogleAuth()">
            <span class="fa fa-google"></span>
            Continue with Google
          </button>
        </form>

        <mat-divider></mat-divider>

        <div class="redirectToLogin">
          <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</body>

</html>