<html>

<head>
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
  <link href="../assets/css/ecg-style.css" rel="stylesheet" />
</head>

<body class="landing-page">
  <!-- Navbar -->
  <landing-navbar></landing-navbar>

  <div class="section section-contact-us">
    <div class="container">
      <div class="row top-input">
        <!-- External project description section -->
        <div class="col-sm-6 col-md-6 col-lg">
          <h2 class="title">Want to work with us?</h2>
          <br>
          <p class="description text-justify">
            Your project is very important to us. <br>
            <br>
            Engineers' Circle Gampaha takes its CSR efforts serious and has conducted many a community level programmes
            and schemes to support the varied requirements and groups. We have endeavored to touch almost all aspects of
            CSR in our sustainability efforts including education, arts & culture, sports, communality development.
          </p>
        </div>

        <!-- Contact Form section -->
        <div class="col-sm-6 col-md-6 col-lg text-center ml-auto mr-auto">
          <form class="contact-form" #addexternalprojectForm="ngForm"
            (ngSubmit)="addexternalprojectForm.valid && onSubmit(addexternalprojectForm)">

            <mat-form-field class="contact-full-width">
              <input name="fullName" #fullName="ngModel" [(ngModel)]="externalprojectservice.externalProject.fullName"
                matInput placeholder="Full Name">
            </mat-form-field>

            <mat-form-field class="contact-full-width">
              <input name="email" #email="ngModel"
                [(ngModel)]="externalprojectservice.externalProject.email" matInput placeholder="Email" required email>
              <mat-error>
                Please enter a valid email address
              </mat-error>
            </mat-form-field>

            <mat-form-field class="contact-full-width">
              <input name="projectTitle" #projectTitle="ngModel"
                [(ngModel)]="externalprojectservice.externalProject.projectTitle" matInput placeholder="Project Title">
            </mat-form-field>

            <mat-form-field class="contact-full-width">
              <textarea matInput #message maxlength="256" placeholder="Tell us about your project" rows="5"
                name="description" #description="ngModel"
                [(ngModel)]="externalprojectservice.externalProject.description" required></textarea>
              <mat-error>
                Project description is <strong>required</strong>
              </mat-error>
              <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>

            <button mat-raised-button id="btnSubmit" class="btn btn-success">Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>