<html>

<head>
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
  <link href="../assets/css/ecg-style.css" rel="stylesheet" />
</head>

<body class="landing-page">
  <!-- Navbar -->
  <landing-navbar></landing-navbar>

  <!-- Contact Us section -->
  <div class="section section-contact-us text-center">
    <div class="container">
      <h2 class="title">Want to work with us?</h2>
      <p class="description">Your project is very important to us.</p>
      <div class="row">
        <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
          <div class="input-group input-lg">
            <input type="text" class="form-control" placeholder="Full Name">
          </div>
          <div class="input-group input-lg">
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <div class="textarea-container">
            <textarea class="form-control" name="name" rows="4" cols="80"
              placeholder="Tell us about your project"></textarea>
          </div>
          <div class="send-button">
            <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>