<html>

<head>
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
  <link href="../assets/css/ecg-style.css" rel="stylesheet" />
</head>

<body class="landing-page">
  <!-- Navbar -->
  <landing-navbar></landing-navbar>

  <div align="center">
    <mat-card class="forgot-password-card">
      <div align="center">
        <mat-card-title>Reset Password</mat-card-title>
      </div>

      <mat-card-content>
        <p class="text-justify card-desc">Please enter your email address to request a password reset.</p>
        <form>
          <mat-form-field class="contact-full-width formGroup">
            <input type="email" class="formControl" matInput placeholder="Email Address" #passwordResetEmail required>
            <mat-error>
              Please enter a valid email address
            </mat-error>
          </mat-form-field>

          <!-- Calling ForgotPassword from AuthService API -->
          <button mat-raised-button class="btn btn-success formGroup" id="btnSubmit"
            (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
        </form>

        <mat-divider></mat-divider>

        <div class="redirectToLogin">
            <span>Go back to <span class="redirect" routerLink="/sign-in">Log In</span></span>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
</body>

</html>
