<div class="main-content">
  <div class="container-fluid">
      <div class="row">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Add Project</h4>
                            
                        </div>


                        


                        <div class="example-container">
                                <form #addprojectForm="ngForm" (ngSubmit)="addprojectForm.valid && onSubmit(addprojectForm)">
                                <mat-form-field>
                                  <input name="projectName" #projectName="ngModel" [(ngModel)]="projectservice.project.projectName" matInput placeholder="Project Name" required>
                                </mat-form-field>
                                <mat-form-field>
                                        <input name="date" #date="ngModel" [(ngModel)]="projectservice.project.date" type="date" matInput placeholder="Date" required>
                                </mat-form-field>
                                <mat-form-field>
                                        <input name="venue" #venue="ngModel" [(ngModel)]="projectservice.project.venue" matInput placeholder="Venue" required>
                                      </mat-form-field>
                                <mat-form-field>
                                  <textarea name="description" #description="ngModel" [(ngModel)]="projectservice.project.description" matInput placeholder="description" required></textarea>
                                  
                                </mat-form-field>
                               <div>
                                    <button type="submit" mat-raised-button color="primary">Submit</button>
                               </div>
                               </form>
                              
                                
                              </div>
                              
                        </div>
                        
                        
                   
            </div>
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Project Table</h4>
                     
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  
                                  <th>
                                     Project Name
                                  </th>
                                  <th>
                                      Date
                                  </th>
                                  <th>
                                      Venue
                                  </th>
                                  <th>
                                      description
                                  </th>
                                  <th>
                                        delete
                                    </th>
                                    <th>
                                        Update
                                    </th>
                              </thead>
                              <tbody  >
                                  <tr *ngFor ="let r of Projects">
                                      <td>
                                        {{r.projectName}}
                                      </td>
                                      <td>
                                          {{r.date}}
                                      </td>
                                      <td>
                                          {{r.venue}}
                                      </td>
                                      <td>
                                        {{r.description}}
                                    </td>
                                    <td>
                                            <i class="material-icons" (click)="onDelete(r.projectId)">delete</i>
                                        </td>
                                        <td>
                                                <i class="material-icons"(click)="open(content,r)"  >create</i>
                                            </td>
                                     
                                  </tr>
                              </tbody>
                          </table>
                          <ng-template #content let-modal>
                                <div class="card-header card-header-danger">
                                        <h4 class="card-title ">Update Project</h4>
                                        
                                    </div>
                              
                                <div class="example-container">
                                        <form #updateprojectForm="ngForm" (ngSubmit)="updateprojectForm.valid && onUpdate(updateprojectForm)">
                                                
                                                        <input name="projectId" #id="ngModel" [(ngModel)]="project.projectId" matInput placeholder="Project Name"  hidden>
                                                      
                                        <mat-form-field>
                                          <input name="projectName" #projectName="ngModel" [(ngModel)]="project.projectName" matInput placeholder="Project Name" value="njnjn" required>
                                        </mat-form-field>
    
                                        <mat-form-field>
                                                <input name="date" #date="ngModel" [(ngModel)]="project.date" type="date" matInput placeholder="Date"  required>
                                        </mat-form-field>
                                        <mat-form-field>
                                                <input name="venue" #venue="ngModel" [(ngModel)]="project.venue" matInput placeholder="Venue"required>
                                              </mat-form-field>
                                        <mat-form-field>
                                          <textarea name="description" #description="ngModel" [(ngModel)]="project.description" matInput placeholder="description"  required></textarea>
                                          
                                        </mat-form-field>
                                       <div>
                                            <button type="submit" mat-raised-button color="primary">Submit</button>
                                       </div>
                                       </form>
                                      
                                        
                                      </div>
                                      
                               
                              </ng-template>
                         
                          
                      </div>
                  </div>
              </div>
          </div>
                  </div>
              </div>
          </div>
     